{% trans_default_domain 'dolopedia' %}

<div id="popupDeleteConfirmationData" style="display: none;">
    <div id="popupTitle">{{ 'contact.remove'|trans }}<span class="icon-cancel icon-big"></span></div>
    <div id="popupOkButton"><span class="icon-cancel"></span> {{ 'contact.remove'|trans }}</div>
    <div id="popupCancelButton">{{ 'popup.button.cancelAndExit'|trans }}</div>
</div>