{# empty Twig template #}
<button type="button" data-target="edit-media" data-src="{{ "{{ path('" ~ route_name_prefix ~ "_edit_ajax', { 'id': entity.id }) }}" }}" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>