<div class="container-fluid">
    <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
            {{ "{{  knp_menu_render('main', {'currentClass': 'active', 'template': 'GeneratorBundle:Menu:knp_menu.html.twig'}) }}" }}
		</div>
	</div>
</div>

