{% extends 'FrontBundle:Layout:front.basic.layout.html.twig' %}

{% trans_default_domain 'dolopedia' %}

{% block body %}
    <div class="content">
        <div class="row container-row">
            <div class="col-md-12">
                <h1 class="centered title-big no-border text-color">Página no encontrada</h1>
                <p class="subtitle subtitle-big centered">
                    Lo sentimos, la página que estás buscando ya no existe, puede que se haya movido o exista algún
                    error en la URL
                </p>
            </div>
        </div>
    </div>
{% endblock body %}