/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/
/web/uploads
/web/media
/nbproject
/node_modules
/web/assetic
/.idea
/php_errors.log
/components
/database/dolopedia.sql
