{% extends "FOSUserBundle::layout.simple.html.twig" %}

{% trans_default_domain 'dolopedia' %}

{% block fos_user_title %}
    {{ 'registration.dolopedia'|trans() }}
{% endblock fos_user_title %}

{% block fos_user_content %}
    <div class="formWindow-control">
        <p>{{ 'registration.message.activationEmailSended'|trans({'%email%': user.email}) }}</p>
    </div>
    <hr/>
    <div class="formWindow-control last">
        <a href="{{ path('public.home') }}" class="btn btn-dark-grey"><span class="icon-message-reply"></span> Volver</a>
    </div>
{% endblock %}