<div class="modal fade" id="deleteForbidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminación de categoría</h4>
      </div>
      <div class="modal-body">
          <div class="alert alert-warning"><strong>Advertencia.</strong> No se ha realizado la operación de borrado.</div>
          <p>
              Para poder eliminar una categoría esta ha de estar vacía de contenido. La categoría que está intentando eliminar tiene algún tipo de contenido
              pueden ser artículos y/o subcategorías.
          </p>
          <p>
              Para poder proceder a la elminación primero ha de eliminar o reasignar los artículos o subcategorías que se encuentran bajo la que esta 
              intentando eliminar.              
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-ajax-action="cancel">Aceptar</button>
      </div>
    </div>
  </div>
</div>