{% extends '::front.base.html.twig' %}

{% block nav %}
    <div class="row container-row breadcrumb-title">
        <div class="col-md-12">
            <h1>{{ block('staticTitle') }}</h1>
        </div>
    </div>
{% endblock nav %}
