{% trans_default_domain 'dolopedia' %}

<div id="completeRequest" class="formWindow popup" style="display: none;">
    <div class="formWindow-head"><h2 class="title">{{ ('request.created.title') | trans }}  <span class="icon-data-edit icon-big"></span></h2></div>
    <div class="formWindow-content">
        {{ ('request.created.description') | trans }}
    </div>
    <div class="formWindow-footer">
        <div class="formWindow-control alone last">
            <a href="javascript:$.fancybox.close();" class="btn btn-dark-grey"><span class="icon-forward"></span> {{ 'popup.button.accept'|trans() }}</a>
        </div>
    </div>
</div>
