{% trans_default_domain 'dolopedia' %}

<div id="addMultimediaPopup" class="formWindow popup" style="display: none;">
    <div class="formWindow-head"><h2 class="title">Elemento descargable <span class="icon-data-edit icon-big"></span></h2></div>
    <form id="multimediaUploadPopup" action="{{ oneup_uploader_endpoint('multimedia') }}" method="post">
        <div class="formWindow-content">
            <div class="formWindow-control">
                <div class="form-group input-file col-md-12">
                    <label for="inputArchivo">Archivo</label>
                    <div class="input-group">
                        <input type="text" id="multimediaFileName" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                <span class="btn-icon icon-folder icon-big"></span><span class="btn-text"> Explorar <input id="multimediaFile" type="file"></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-md-12">
                    <label for="inputLabel">Label</label>
                    <input type="text" class="form-control" id="multimediaLabel">
                </div>
            </div>
        </div>
        <div class="formWindow-footer">
            <div class="formWindow-control alone last">
                <button class="btn btn-dark-grey"><span class="icon-forward"></span> {{ 'popup.button.add'|trans() }}</button>
                <span class="spinner little"></span>
                <a href="javascript:$.fancybox.close();" class="formWindow-exit"> {{ 'popup.button.cancelAndExit'|trans() }}</a>
            </div>
        </div>
    </form>
</div>
