<div class="modal fade" id="contentWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modificacion del tipo del artículo</h4>
      </div>
      <div class="modal-body">
          <div class="alert alert-danger"><strong>Cuidado</strong> ¡Esta operación no podrá ser deshecha!</div>
          <p>Si modificas el tipo de artículo, el contenido actual será eliminado. Se sustituirá por la estructura vacía del nuevo tipo de artículo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ajax-action="cancel">Déjalo como está</button>
        <button type="button" class="btn btn-danger" data-ajax-action="accept">Cambiar el tipo</button>
      </div>
    </div>
  </div>
</div>